<div class = "espacioFooter">

</div>
		<footer class="footer-distributed">
            
			<div class="footer-right">

				<a href="#"><i class="fa-facebook"></i></a>
				<a href="#"><i class="fa-twitter"></i></a>
				<a href="#"><i class="fa-linkedin"></i></a>
				<a href="#"><i class="fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="#">Home</a>
					<a href="#">Blog</a>
					<a href="#">Pricing</a>
					<a href="#">About</a>
					<a href="#">Faq</a>
					<a href="#">Contact</a>
				</p>

				<p>Libros ++ &copy; 2022</p>
			</div>

		</footer>