<div class = "espacioFooter">

</div>
		<footer class="footer-distributed">
            
			<div class="footer-right">

				<a href="#"><img src="../tiendaonline/views/css/assets/imagenes/facebook.png"></a>
				<a href="#"><img src="../tiendaonline/views/css/assets/imagenes/linkedin.png"></a>
				<a href="#"><img src="../tiendaonline/views/css/assets/imagenes/logotipo-de-instagram.png"></a>
				<a href="https://github.com/adridiaz23/tiendaonline" target="_blank" ><img src="../tiendaonline/views/css/assets/imagenes/github.png"></a>

			</div>

			<div class="footer-left">
				<p class="footer-links">
					<a class="link-1" href="index.php">Home</a>
					<a href="#">Blog</a>
					<a href="#">Pricing</a>
					<a href="#">About</a>
					<a href="#">Faq</a>
					<a href="#">Contact</a>
				</p>
				<p>Libros ++ &copy; 2022</p>
			</div>

		</footer>