/*
*
    Body CSS
*/
body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
}
h1{
    font-size: 40px;
    letter-spacing: 1px;
    color:black;
}
h2{
    font-size: 32px;
    letter-spacing: 1px;
}
h3{
    font-size: 24px;
    letter-spacing: 1px;
}
p{
    font-size: 16px;
    letter-spacing: 1px;
}
a{
    font-size: 16px;
    letter-spacing: 1px;
    font:blod;
}

/*
*
! CSS Pagina de loggin
*
*/  
    .header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
    }

    .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
    }

    .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .Olas {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
    }

    .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
    }

    /* Animation */

    .OlasLoginAdmin > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
    }
    .OlasLoginAdmin > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    }
    .OlasLoginAdmin > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    }
    .OlasLoginAdmin > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    }
    .OlasLoginAdmin > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    }
    @keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
    }

    .fromLoginAdmin form{
        height: 320px;
        width: 400px;
        background-color: rgba(255,255,255,0.13);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 35%;
        left: 50%;
        border-radius: 10px;
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
    }
    .fromLoginAdmin form *{
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    .fromLoginAdmin label{
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }
    .fromLoginAdmin input{
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
    }
    .fromLoginAdmin ::placeholder{
        color: #e5e5e5;
    }
    .fromLoginAdmin button{
        margin-top: 50px;
        width: 100%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }
/* Final de CSS Pagina de loggin */

/*
*
!Comienzo CSS del Menu
*/
    div.spacerAdmin{
        display: block;
        height: 80px;
    }

    .menuAdmin {
        max-width: 100%;
        width: 100%;
        background-color: #4D4D4D;
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        align-content: center;
        align-items: center;
        height: 50px;
        position: fixed;
    }
    
    .menuAdmin > .menu1 { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    .menuAdmin > .menu2 { 
        grid-area: 1 / 2 / 2 / 3; 
    }
    .menuAdmin > .menu3 { 
        grid-area: 1 / 3 / 2 / 4;
    }
    .menuAdmin > .menu4 { 
        grid-area: 1 / 4 / 2 / 5;
    }
    .menuAdmin > .menu5 { 
        grid-area: 1 / 5 / 2 / 6; 
    }

    .menuAdmin > div{
        text-align: center;
        text-decoration: none;
        color: white;
    }

    a.enlaceMenuAdmin{
        text-decoration: none;
        color: white;
    }


/*Final del CSS del Menu*/

/*
*
! CSS Pagina de pedido Admin
*
*/
.search-box input[type="text"] {
    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 25px;
    transition: all 0.25s ease-in 0.25s;
    color: transparent;
    font-size: 0.75rem;
    line-height: 25px;
  }
  .search-box input[type="text"]:hover {
    cursor: pointer;
  }
  .search-box input[type="text"]:hover:focus {
    cursor: text;
  }
  .search-box input[type="text"]:hover + span {
    background: rgb(255, 255, 255);
  }
  .search-box input[type="text"]:focus {
    width: 200px;
    padding: 0 10px;
    outline: none;
    color: black;
    background: none;
    color: rgb(0, 0, 0);
  }
  .search-box input[type="text"]:focus + span {
    width: 200px;
  }
  .search-box input[type="text"]:focus + span::before {
    width: 2px;
    opacity: 0;
    transition: all 0.25s ease-in;
  }
  .search-box input[type="text"] + span {
    z-index: -1;
    position: absolute;
    border: 2px solid rgb(0, 0, 0);
    top: 0;
    width: 25px;
    height: 25px;
    transition: all 0.25s ease-in 0.25s;
    border-radius: 25px;
    left: 0;
  }
  .search-box input[type="text"] + span::before {
    transition: all 0.25s ease-in 0.5s;
    transform-origin: left top;
    content: '';
    position: absolute;
    width: 10px;
    height: 5px;
    border-radius: 5px;
    background: white;
    transform: rotate(45deg) translate(26px, -2px);
  }
  
 

/*Final del CSS del pedido Admin*/

/*
*
!Comienzo CSS de la pagina de Productos Admin
*/
.tablaAdmin{
    margin: auto auto; 
    border: 1px solid black;
    border-collapse: collapse;
}

.thAdmin{
    background-color: #263239;
    color: white;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.imagenAdmin{
    width: 20%;
    text-align: center;
}

.tdAdmin{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

div.botonRegistro > a.enlaceRegistro{
    text-decoration: none;
    color: blue;
    text-align: center;
    font-weight: 600;
}

div.botonRegistro{
    margin: 10px;
    margin-left: 200px;
    text-align: center;
    width: 200px;
}

div.botonRegistro > a.enlaceRegistro:hover{
    text-decoration: underline;
    color: black;
    letter-spacing: 3px;
    text-align: center;
    
}

/*Final del CSS PAgina de Productos Admin*/