/*
*
    Body CSS
*/
body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
}
h1{
    font-size: 40px;
    letter-spacing: 1px;
    color:black;
}
h2{
    font-size: 32px;
    letter-spacing: 1px;
}
h3{
    font-size: 24px;
    letter-spacing: 1px;
}
p{
    font-size: 16px;
    letter-spacing: 1px;
}
a{
    font-size: 16px;
    letter-spacing: 1px;
    font:blod;
}

/*
*
! CSS Pagina de loggin
*
*/  
    .header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
    }

    .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
    }

    .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .Olas {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
    margin-top: 100px;
    }

    .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
    }

    /* Animation */

    .OlasLogin > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
    }
    .OlasLogin > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    }
    .OlasLogin > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    }
    .OlasLogin > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    }
    .OlasLogin > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    }
    @keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
    }

    .fromGenerico ::placeholder{
        color: #e5e5e5;
    }

    input.submit{
        background-color: rgba(84,58,183,1);
    }
    
    .rainbowButton:hover {
        background-color:  rgba(0,172,193,1);
    }

    .buttonSubmit{
        height: 100px;
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .fromGenerico form *{
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    .fromGenerico form{
       
        width: 400px;
        background-color: rgba(255,255,255,0.13);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 34%;
        left: 50%;
        border-radius: 10px;
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding-top: 15px;
        padding: 50px 35px;
        
    }
    .fromGenerico label{
        display: block;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
    }
    .fromGenerico input{
        display: block;
        height: 35px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 3px;
        font-size: 14px;
        font-weight: 300;
    }
    

/* Final de CSS Pagina de loggin */

/*
*
!Comienzo CSS del Menu
*/
    div.spacerAdmin{
        display: block;
        height: 80px;
    }

    .menuAdmin {
        max-width: 100%;
        width: 100%;
        background-color: #4D4D4D;
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        align-content: center;
        align-items: center;
        height: 50px;
        position: fixed;
    }
    
    .menuAdmin > .menu1 { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    .menuAdmin > .menu2 { 
        grid-area: 1 / 2 / 2 / 3; 
    }
    .menuAdmin > .menu3 { 
        grid-area: 1 / 3 / 2 / 4;
    }
    .menuAdmin > .menu4 { 
        grid-area: 1 / 4 / 2 / 5;
    }
    .menuAdmin > .menu5 { 
        grid-area: 1 / 5 / 2 / 6; 
    }

    .menuAdmin > div{
        text-align: center;
        text-decoration: none;
        color: white;
    }

    a.enlaceMenuAdmin{
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: white;
    }

    a.enlaceMenuAdmin::before, a.enlaceMenuAdmin::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #2099FF;;
        transform: scaleX(0);
        transition: transform .25s; 
    }

    a.enlaceMenuAdmin::before{
        top: 18px;
        transform-origin: right;
    }

    a.enlaceMenuAdmin:hover::before,a.enlaceMenuAdmin:hover::after{
        transform: scaleX(1);
    }



/*Final del CSS del Menu*/

/*
*
! CSS Pagina de pedido Admin
*
*/

    .lupaPedido {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .lupaPedido > div {
        display: inline-block;
        position: relative;
        filter: drop-shadow(0 1px #2099FF);
    }
    
    .lupaPedido> div:after {
        content: "";
        background: #2099FF;
        width: 4px;
        height: 16px;
        position: absolute;
        top: 28px;
        right: 2px;
        transform: rotate(145deg);
    }
   
    .lupaPedido> div > input {
        color: #000000;
        font-size: 13px;
        background: transparent;
        width: 10px;
        height: 10px;
        padding: 8px;
        border: solid 3px #2099FF;
        outline: none;
        border-radius: 35px;
        transition: width 0.5s;
    }
    
    .lupaPedido> div > input::placeholder {
        color: #0a0a0a;
        opacity: 0;
        transition: opacity 150ms ease-out;
    }
    
    .lupaPedido> div > input:focus::placeholder {
        opacity: 1;
    }
    
    .lupaPedido  > div > input:focus,
    .lupaPedido  > div > input:not(:placeholder-shown) {
        width: 150px;
    }


/*Final del CSS del pedido Admin*/

/*
*
!Comienzo CSS de la pagina de Productos Admin
*
*/
.tablaAdmin{
    margin: auto auto; 
    border: 1px solid black;
    border-collapse: collapse;
}

.thAdmin{
    background-color: #263239;
    color: white;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.imagenAdmin{
    width: 100%;
    text-align: center;
}

.tdAdmin{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    width: 50px;
}

div.botonAdmin > a.enlaceAdmin{
    text-decoration: none;
    color: #2099FF;
    text-align: center;
    font-weight: 600;
}

div.botonAdmin{
    margin: 10px;
    margin-left: 200px;
    text-align: center;
    width: 200px;
}

div.botonAdmin > a.enlaceAdmin:hover{
    text-decoration: underline;
    color: black;
    letter-spacing: 2px;
    text-align: center;
    
}

img.destacado{
    width: 50px;
    border-radius: 75%;
}

a.enlaceDestacado{
    width: 200px;
}



td.tdAdmin > a > img.activado{
    width: 150px;
}

td.tdAdmin > a > img{
    width: 100%;
}




/*Final del CSS PAgina de Productos Admin*/
