/*
*
    Body CSS
*/
body {
    background: #EBEBE8;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding: 0;
}
h1{
    font-size: 40px;
    letter-spacing: 1px;
    color:black;
}
h2{
    font-size: 32px;
    letter-spacing: 1px;
}
h3{
    font-size: 24px;
    letter-spacing: 1px;
}
p{
    font-size: 16px;
    letter-spacing: 1px;
}
a{
    font-size: 16px;
    letter-spacing: 1px;
    font:blod;
}

/*
*
! CSS Pagina de loggin
*
*/  
    .header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
    }

    .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
    }

    .flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

    .Olas {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
    }

    .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
    }

    /* Animation */

    .OlasLogin > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
    }
    .OlasLogin > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
    }
    .OlasLogin > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
    }
    .OlasLogin > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
    }
    .OlasLogin > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
    }
    @keyframes move-forever {
    0% {
    transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
    }

    .fromGenerico ::placeholder{
        color: #e5e5e5;
    }

    .rainbowButton{
        background-color: rgb(58, 60, 183) !important;
    }
    
    .rainbowButton:hover {
        background-color:  #2099FF  !important;
        cursor: pointer;
    }

    .buttonSubmit{
        height: 100px;
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .fromGenerico form *{
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    .fromGenerico form{
        width: 400px;
        background-color: rgba(255,255,255,0.13);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 34%;
        left: 50%;
        border-radius: 10px;
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding-top: 15px;
        padding: 50px 35px;
    }

    .fromGenerico label{
        display: block;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    .fromGenerico input{
        display: block;
        height: 35px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 3px;
        font-size: 14px;
        font-weight: 300;
    }
    .botonMostrar{
        background-color: #00000000; 
        position: absolute;
        margin-left: 150px;
        margin-top: -42px;
    }
    .botonMostrar:hover{
        cursor: pointer;
    }

/* 
Final de CSS Pagina de loggin */
/*
*
!Comienzo CSS del Menu
*/
    div.spacerAdmin{
        display: block;
        height: 80px;
    }

    .menuAdmin {
        max-width: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        align-content: center;
        align-items: center;
        height: 50px;
        position: fixed;
    }
    
    .menuAdmin > .menu1 { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    .menuAdmin > .menu2 { 
        grid-area: 1 / 2 / 2 / 3; 
    }
    .menuAdmin > .menu3 { 
        grid-area: 1 / 3 / 2 / 4;
    }
    .menuAdmin > .menu4 { 
        grid-area: 1 / 4 / 2 / 5;
    }
    .menuAdmin > .menu5 { 
        grid-area: 1 / 5 / 2 / 6; 
    }

    .menuAdmin > div{
        text-align: center;
        text-decoration: none;
        color: white;
    }

    a.enlaceMenuAdmin{
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: white;
    }

    a.enlaceMenuAdmin::before, a.enlaceMenuAdmin::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #2099FF;
        transform: scaleX(0);
        transition: transform .25s; 
    }

    a.enlaceMenuAdmin::before{
        top: 18px;
        transform-origin: right;
    }

    a.enlaceMenuAdmin:hover::before,a.enlaceMenuAdmin:hover::after{
        transform: scaleX(1);
    }



/*Final del CSS del Menu*/

/*
*
! CSS Pagina de pedido Admin
*
*/

    .lupaPedido {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .lupaPedido > div {
        display: inline-block;
        position: relative;
        filter: drop-shadow(0 1px #2099FF);
    }
    
    .lupaPedido> div:after {
        content: "";
        background: #2099FF;
        width: 4px;
        height: 16px;
        position: absolute;
        top: 28px;
        right: 2px;
        transform: rotate(145deg);
    }
   
    .lupaPedido> div > input {
        color: #000000;
        font-size: 13px;
        background: transparent;
        width: 10px;
        height: 10px;
        padding: 8px;
        border: solid 3px #2099FF;
        outline: none;
        border-radius: 35px;
        transition: width 0.5s;
    }
    
    .lupaPedido> div > input::placeholder {
        color: #0a0a0a;
        opacity: 0;
        transition: opacity 150ms ease-out;
    }
    
    .lupaPedido> div > input:focus::placeholder {
        opacity: 1;
    }
    
    .lupaPedido  > div > input:focus,
    .lupaPedido  > div > input:not(:placeholder-shown) {
        width: 150px;
    }


/*Final del CSS del pedido Admin*/

/*
*
!Comienzo CSS de la pagina de Productos Admin
*
*/
.tablaAdmin{
    margin: auto auto; 
    border: 1px solid black;
    border-collapse: collapse;
}

.thAdmin{
    background-color: #263239;
    color: white;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.imagenAdmin{
    width: 100%;
    text-align: center;
}

.tdAdmin{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    width: 50px;
}

div.botonAdmin > a.enlaceAdmin{
    text-decoration: none;
    color: #2099FF;
    text-align: center;
    font-weight: 600;
}

div.botonAdmin{
    margin: 10px;
    margin-left: 200px;
    text-align: center;
    width: 200px;
}

div.botonAdmin > a.enlaceAdmin:hover{
    text-decoration: underline;
    color: black;
    letter-spacing: 2px;
    text-align: center;
    
}

img.destacado{
    width: 50px;
    border-radius: 75%;
}

a.enlaceDestacado{
    width: 200px;
}



td.tdAdmin > a > img.activado{
    width: 150px;
}

td.tdAdmin > a > img{
    width: 100%;
}


/*Final del CSS PAgina de Productos Admin*/

/*
*
*
! CSS Pagina de Menu 
*/
    .menu {
        background-color:rgba(0,0,0,0.8);
        color:#ffffff;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        align-items: center;
        align-content: center;
        text-align: center;
        padding-right: 50px;
        padding-left: 50px;
    }
    
    .menu1 { 
        /*grid-area: 1 / 1 / 4 / 2;*/
        grid-column: 1;
        grid-row: 1/4;
     }

    .menu2 { 
        /*grid-area: 1 / 2 / 2 / 5;*/
        grid-column: 2/5;
        grid-row: 1;
     }

    .menu3 { 
        /*grid-area: 1 / 5 / 2 / 6;*/
        grid-column: 5;
        grid-row: 1;
     }

    .menu4 { 
        /*grid-area: 1 / 6 / 2 / 7;*/
        grid-column: 6;
        grid-row: 1;
     }

    .menu5 { 
        /*grid-area: 1 / 7 / 2 / 8;*/
        grid-column: 7;
        grid-row: 1;
     }

    .menu6 { 
        /*grid-area: 3 / 2 / 4 / 3;*/
        grid-column: 2;
        grid-row: 3;
     }

    .menu7 { 
        /*grid-area: 3 / 3 / 4 / 4;*/
        grid-column: 3;
        grid-row: 3;
     }

    .menu8 { 
        /*grid-area: 3 / 4 / 4 / 5;*/
        grid-column: 4;
        grid-row: 3;
     }

    .menu9 { 
        /*grid-area: 3 / 5 / 4 / 6;*/
        grid-column: 5;
        grid-row: 3;
     }
    .menu10 { 
        /*grid-area: 3 / 6 / 4 / 7;*/
        grid-column: 6;
        grid-row: 3;
     }

    .menu11 { 
        /*grid-area: 3 / 7 / 4 / 8;*/
        grid-column: 7;
        grid-row: 3;
     }

    .menu12 { 
        /*grid-area: 2 / 2 / 3 / 8;*/
        grid-column: 2/8;
        grid-row: 2;
        width: 100%;
     }

     .menu12 > hr{
        width: 100%;
     }


/* Final del CSS Pagina del menu*/

/*
*
! CSS Pagina de Home cliente
*
*/

.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.producto1 { 
    grid-area: 1 / 1 / 2 / 6; 
}
.producto2 { 
    grid-area: 2 / 1 / 3 / 6;
    background-color: #000000;
}
.producto3 {
    grid-area: 3 / 1 / 4 / 6; 
}
.producto4 { 
    grid-area: 4 / 1 / 6 / 3; 
    background-color: #000000;
}
.producto5 {
    grid-area: 4 / 3 / 6 / 5; 
} 

.contenedorProducto
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.contenedorProducto .cajaProducto
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.contenedorProducto .cajaProducto::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.contenedorProducto .cajaProducto::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.contenedorProducto .cajaProducto:hover:before,
.contenedorProducto .cajaProducto:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.contenedorProducto .cajaProducto:before,
.contenedorProducto .cajaProducto:after
{
    background: linear-gradient(315deg, rgba(84,58,183,1), rgba(0,172,193,1))
}

.contenedorProducto .cajaProducto span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.contenedorProducto .cajaProducto span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.contenedorProducto .cajaProducto:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.contenedorProducto .cajaProducto span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.contenedorProducto .cajaProducto:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.contenedorProducto .cajaProducto .contenidoProducto
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}



.contenedorProducto .cajaProducto:hover .contenidoProducto
{
  left: -25px;
  padding: 60px 40px;
}

/*Pendiente modificar los enlaces y textos para ser similares en todas las páginas.*/




.contenedorProducto .cajaProducto .contenidoProducto h2
{
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
}


.contenedorProducto .cajaProducto .contenidoProducto p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.contenedorProducto .cajaProducto .contenidoProducto a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.contenedorProducto .cajaProducto .contenidoProducto a:hover
{
  background: #2099FF;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

.imagenHome{
    width: 280px;
    margin-right: 100px;
    border-radius: 5%;
    
}
.contenidoImpares{
    color:black;
}

/*
*
*
!CSS Pagina del Carrito
*/

.containerCarrito{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.containerProductos{
    width: 50%;
}

.productoCarrito {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 25px auto 0px auto;
    padding-bottom: 25px;
    border-bottom: #2099FF solid 1px;
}

.productoCarrito > div{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

img.imagenCarrito{
    width: 50%;
}
    
.div1Carrito { 
    /*grid-area: 1 / 1 / 4 / 2;*/
    grid-column: 1;
    grid-row: 1;
 }
.div2Carrito { 
   /*grid-area: 1 / 2 / 2 / 3;*/
   grid-column: 2;
    grid-row: 1;
}
.div3Carrito { 
   /*grid-area: 1 / 3 / 4 / 4;*/
    grid-column: 3;
    grid-row: 1;
}
.div4Carrito { 
   /*grid-area: 1 / 4 / 4 / 5;*/
    grid-column: 4;
    grid-row: 1;
}
.div5Carrito {
     grid-column: 5;
     grid-row: 1;
 }
 .div6Carrito {
     grid-column: 6;
     grid-row: 1;
 }

div.cantidadCarrito{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100px;
    border-radius: 25px;
}

div.cantidadCarrito > *{
    margin: 5%;
}

div.eliminarCarrito{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 25px;
    border-radius: 50%;
}

div.eliminarCarrito > *{
    margin: 5%;
}

.formCarrito > .button{
    font-size: large;
    background-color: transparent;
    border: none;
}

.formCarrito > .button:hover{
    cursor: pointer;
}



/*Final del CSS Pagina del carrito*/

/*Estilos pie de pagina*/


/*Fin estilos pie de pagina*/